.playlist{
  width: 100%;
  height: 50px;
  background-color: #f6be00;
  display: flex;
  align-items: center;
  padding: 0 10px;
  .song{
    margin: 0 20px;
    color: #005F86;
    font-weight: bold;
  }
}