.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #005F86;
  .background{
    position: fixed;
    width: 110vw;
    height: 110vh;
    top: 0;
    left: 0;
    background-image: url('../assets//pattern.svg');
    background-size: cover;
    background-position: center;
    filter: opacity(.1) saturate(0);
    animation: backgroundAnimation 10s alternate infinite ease-in-out;
    border-radius: 20%;
  }
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo{
    position: fixed;
    animation: logoZoomAnimation 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards, positionAnimation 2s cubic-bezier(0.075, 0.82, 0.165, 1) 3s forwards;
    transform-origin: top left;
    left: 50%;
    top: 50%;
    path{
      stroke:rgb(91.763306%,66.665649%,0%);
      fill-rule:nonzero;
      fill:rgb(91.763306%,66.665649%,0%);
      stroke-dasharray: 1000;
      fill-opacity: 0;
      animation: strokeAnimation 4s ease-in, fillAnimation 1s ease-in 1s normal forwards,;  
    }
  }
  .start{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6be00;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    animation: zoomAnimation 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    .qrContainer{
      display: flex;
      flex-direction: column;
      // border-right: 2px solid #f6be00;
      padding: 0 50px;
      margin: 0 20px;
      svg path[fill="#f6be00"]{
        fill-rule:nonzero;
        fill:rgb(91.763306%,66.665649%,0%);
        stroke-dasharray: 1000;
        fill-opacity: 0;
        animation: zoomAnimation .5s ease-in normal forwards;
        &:nth-child(2n){
          animation: fillAnimation .5s ease-in .3s normal forwards;
        }
        &:nth-child(2n + 1){
          animation: fillAnimation .5s ease-in .4s normal forwards; 
        }
      }
      svg path[fill="#005F86"]{
        opacity: 0;
      }
      strong{
        margin-top: 30px;
        max-width: 256px;
        text-align: center;
        line-height: 1.4em;
        font-size: 1.2em;
      }
    }
    .help{
      display: flex;
      padding: 0 10px;
      margin: 0 20px;
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          margin: 15px 0;
        }
      }
    }
  }
}

@keyframes backgroundAnimation {
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes strokeAnimation {
  0%{
    stroke-dashoffset: 1000;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes fillAnimation {
  0%{
    fill-opacity: 0;
    stroke-opacity: 1;
  }
  100%{
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

@keyframes logoZoomAnimation {
  0%{
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
  100%{
   transform: scale(1.1) translateX(-50%) translateY(-50%);
  }
}

@keyframes zoomAnimation {
  0%{
    transform: scale(.8);
  }
  100%{
   transform: scale(1);
  }
}

@keyframes positionAnimation {
  0%{
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.1);
  }
  100%{
   left: 10px;
   top: 10px;
   transform: translateX(0) translateY(0) scale(.4);
  }
}